@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  height: 45px !important;
  border: 1px solid #c3c3c3 !important;
  padding: 0 10px !important;
}

input:focus {
  outline: none !important;
  border: 1px solid #585858 !important;
}

button {
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  height: 45px !important;
}

.btn-primary {
  background-color: #1a202c !important;
  color: white !important;
}

.btn-disabled {
  background-color: #c3c3c3 !important;
  color: white !important;
  pointer-events: none !important;
}
